In [10]:
# Pandas
import pandas as pd
from pathlib import Path
import pymongo
from config import db_password

In [11]:
db_string = f"mongodb+srv://nickj:{db_password}@capstonecluster.7h9ij.mongodb.net/CapstoneCluster?retryWrites=true&w=majority"
client = pymongo.MongoClient(db_string)
db = client.capstone_db

collection = db.item
collection1 = db.host_dtls
collection2 = db.reviews
collection3 = db.property_desc
collection4 = db.pricing_policy

In [12]:
# # Initialize PyMongo to work with MongoDBs
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [13]:
# db = client.capstone_db
# collection = db.item
# collection1 = db.host_dtls
# collection2 = db.reviews
# collection3 = db.property_desc
# collection4 = db.pricing_policy

In [4]:
#loading csv data
file_path = Path("./Resources/clean_listings.csv")
#  Import and read the file...
dfm = pd.read_csv(file_path)

In [5]:
dfm.head()
dfm.columns
dfm.dtypes

id                                    int64
host_response_rate                  float64
host_is_superhost                     int64
host_identity_verified                int64
neighbourhood_cleansed               object
neighbourhood_group_cleansed         object
state                                object
country_code                         object
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                             int64
price                               float64
security_deposit                    float64
cleaning_fee                        float64
guests_included                       int64
extra_people                        float64
minimum_nights                        int64
maximum_nights                        int64
availability_365                      int64
number_of_reviews                     int64
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
instant_bookable                      int64
is_business_travel_ready              int64
cancellation_policy                 float64
require_guest_profile_picture         int64
require_guest_phone_verification      int64
reviews_per_month                   float64
is_success                            int64
dtype: object

In [6]:
for (idx, row) in dfm.iterrows():
#    print(row['id'])
   post = {
       'id': row['id'],
       'host_response_rate': row['host_response_rate'],
       'host_is_superhost': row['host_is_superhost'],
       'host_identity_verified': row['host_identity_verified'],
       'neighbourhood_cleansed': row['neighbourhood_cleansed'],
       'neighbourhood_group_cleansed': row['neighbourhood_group_cleansed'],
       'state': row['state'],
       'country_code': row['country_code'],
       'room_type': row['room_type'],
       'accommodates': row['accommodates'],
       'bathrooms': row['bathrooms'],
       'bedrooms': row['bedrooms'],
       'beds': row['beds'],
       'bed_type': row['bed_type'],
       'amenities': row['amenities'],
       'price': row['price'],
       'security_deposit': row['security_deposit'],
       'cleaning_fee': row['cleaning_fee'],
       'guests_included': row['guests_included'],
       'extra_people': row['extra_people'],
       'minimum_nights': row['minimum_nights'],
       'maximum_nights': row['maximum_nights'],
       'availability_365': row['availability_365'],
       'number_of_reviews': row['number_of_reviews'],
       'review_scores_rating': row['review_scores_rating'],
       'review_scores_accuracy': row['review_scores_accuracy'],
       'review_scores_cleanliness': row['review_scores_cleanliness'],
       'review_scores_checkin': row['review_scores_checkin'],
       'review_scores_communication': row['review_scores_communication'],
       'review_scores_location': row['review_scores_location'],
       'review_scores_value': row['review_scores_value'],
       'instant_bookable': row['instant_bookable'],
       'is_business_travel_ready': row['is_business_travel_ready'],
       'cancellation_policy': row['cancellation_policy'],
       'require_guest_profile_picture': row['require_guest_profile_picture'],
       'require_guest_phone_verification': row['require_guest_phone_verification'],
       'reviews_per_month': row['reviews_per_month'],
       'is_success': row['is_success']       
   } 
   collection.insert_one(post)

In [15]:
# # Display items in MongoDB collection
# listings = db.item.find()

# for listing in listings:
#     print(listing)

In [4]:
client = pymongo.MongoClient()
data = db.item.find()

df = pd.DataFrame.from_records(data)
df.head()

,_id,id,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,state,country_code,room_type,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,is_success
0,61da5044cd7eacac46214624,2515,0.88,1,1,Harlem,Manhattan,NY,US,Private room,...,9.0,9.0,9.0,0,0,0.02,0,0,1.42,1
1,61da5044cd7eacac46214625,2539,1.00,1,1,Kensington,Brooklyn,NY,US,Private room,...,10.0,10.0,10.0,0,0,0.01,0,0,0.25,1
2,61da5044cd7eacac46214626,2595,0.85,0,1,Midtown,Manhattan,NY,US,Entire home/apt,...,10.0,10.0,9.0,0,0,0.02,1,1,0.35,1
3,61da5044cd7eacac46214627,15729,0.70,0,1,Red Hook,Brooklyn,NY,US,Private room,...,9.0,8.0,7.0,0,0,0.02,0,0,0.21,1
4,61da5044cd7eacac46214628,3330,1.00,0,1,Williamsburg,Brooklyn,NY,US,Private room,...,10.0,10.0,10.0,0,0,0.02,0,0,0.33,1

In [10]:
df.loc[df['id'] == 2539]

,_id,id,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,state,country_code,room_type,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,is_success
1,61da5044cd7eacac46214625,2539,1.0,1,1,Kensington,Brooklyn,NY,US,Private room,...,10.0,10.0,10.0,0,0,0.01,0,0,0.25,1

In [11]:
for (idx, row) in df.iterrows():
#    print(row['id'])

# abnb_host_dtls
   post1 = {
        'id': row['id'],
        'host_response_rate': row['host_response_rate'],
        'host_is_superhost': row['host_is_superhost'],
        'host_identity_verified': row['host_identity_verified'],
        'neighbourhood_cleansed': row['neighbourhood_cleansed'],
        'neighbourhood_group_cleansed': row['neighbourhood_group_cleansed']      
   } 
   collection1.insert_one(post1)

# abnb_reviews
   post2 = {
        'id': row['id'],
        'number_of_reviews': row['number_of_reviews'],
        'review_scores_rating': row['review_scores_rating'],
        'review_scores_accuracy': row['review_scores_accuracy'],
        'review_scores_cleanliness': row['review_scores_cleanliness'],
        'review_scores_checkin': row['review_scores_checkin'],
        'review_scores_communication': row['review_scores_communication'],
        'review_scores_location': row['review_scores_location'],
        'review_scores_value': row['review_scores_value']     
   } 
   collection2.insert_one(post2)  

# abnb_property_desc
   post3 = {
        'id': row['id'],
        'state': row['state'],
        'country_code': row['country_code'],
        'room_type': row['room_type'],
        'accommodates': row['accommodates'],
        'bathrooms': row['bathrooms'],
        'bedrooms': row['bedrooms'],
        'beds': row['beds'],
        'bed_type': row['bed_type'],
        'amenities': row['amenities'],
        'review_scores_value': row['review_scores_value']     
   } 
   collection3.insert_one(post3)  

# abnb_pricing_policy
   post4 = {
        'id': row['id'],
        'price': row['price'],
        'security_deposit': row['security_deposit'],
        'cleaning_fee': row['cleaning_fee'],
        'guests_included': row['guests_included'],
        'extra_people': row['extra_people'],
        'minimum_nights': row['minimum_nights'],
        'maximum_nights': row['maximum_nights'],
        'availability_365': row['availability_365'],
        'instant_bookable': row['instant_bookable'],
        'is_business_travel_ready': row['is_business_travel_ready'],
        'require_guest_profile_picture': row['require_guest_profile_picture'],
        'require_guest_phone_verification': row['require_guest_phone_verification'],
        'reviews_per_month': row['reviews_per_month']     
   } 
   collection4.insert_one(post4)

In [12]:
# client = pymongo.MongoClient()
data1 = db.host_dtls.find()

dfm1 = pd.DataFrame.from_records(data1)
dfm1

,_id,id,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed
0,61da52dacd7eacac46218481,2515,0.88,1,1,Harlem,Manhattan
1,61da52dacd7eacac46218485,2539,1.00,1,1,Kensington,Brooklyn
2,61da52dbcd7eacac46218489,2595,0.85,0,1,Midtown,Manhattan
3,61da52dbcd7eacac4621848d,15729,0.70,0,1,Red Hook,Brooklyn
4,61da52dbcd7eacac46218491,3330,1.00,0,1,Williamsburg,Brooklyn
...,...,...,...,...,...,...,...
15958,61da5b6acd7eacac46227dd9,29610605,1.00,0,0,Bedford-Stuyvesant,Brooklyn
15959,61da5b6acd7eacac46227ddd,29563829,1.00,0,1,Flatbush,Brooklyn
15960,61da5b6acd7eacac46227de1,29628834,1.00,0,1,Midtown,Manhattan
15961,61da5b6acd7eacac46227de5,29630759,1.00,0,0,Borough Park,Brooklyn
15962,61da5b6acd7eacac46227de9,29686576,1.00,0,0,Lower East Side,Manhattan

In [13]:
data2 = db.reviews.find()

dfm2 = pd.DataFrame.from_records(data2)
dfm2

,_id,id,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,61da52dacd7eacac46218482,2515,174,93.0,9.0,9.0,10.0,9.0,9.0,9.0
1,61da52dacd7eacac46218486,2539,9,98.0,10.0,10.0,10.0,10.0,10.0,10.0
2,61da52dbcd7eacac4621848a,2595,38,95.0,9.0,9.0,10.0,10.0,10.0,9.0
3,61da52dbcd7eacac4621848e,15729,22,79.0,7.0,7.0,9.0,9.0,8.0,7.0
4,61da52dbcd7eacac46218492,3330,36,98.0,10.0,10.0,10.0,10.0,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...
15958,61da5b6acd7eacac46227dda,29610605,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0
15959,61da5b6acd7eacac46227dde,29563829,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0
15960,61da5b6acd7eacac46227de2,29628834,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0
15961,61da5b6acd7eacac46227de6,29630759,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0
15962,61da5b6acd7eacac46227dea,29686576,2,100.0,10.0,10.0,10.0,10.0,10.0,10.0

In [14]:
data3 = db.property_desc.find()

dfm3 = pd.DataFrame.from_records(data3)
dfm3

,_id,id,state,country_code,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,review_scores_value
0,61da52dacd7eacac46218483,2515,NY,US,Private room,3,1.0,1.0,3.0,Real Bed,32,9.0
1,61da52dbcd7eacac46218487,2539,NY,US,Private room,4,1.0,1.0,3.0,Real Bed,44,10.0
2,61da52dbcd7eacac4621848b,2595,NY,US,Entire home/apt,2,1.0,0.0,1.0,Real Bed,36,9.0
3,61da52dbcd7eacac4621848f,15729,NY,US,Private room,4,1.0,1.0,1.0,Real Bed,12,7.0
4,61da52dbcd7eacac46218493,3330,NY,US,Private room,2,1.0,1.0,1.0,Real Bed,25,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15958,61da5b6acd7eacac46227ddb,29610605,NY,US,Private room,3,1.0,1.0,2.0,Real Bed,15,10.0
15959,61da5b6acd7eacac46227ddf,29563829,NY,US,Private room,2,1.0,1.0,2.0,Real Bed,30,10.0
15960,61da5b6acd7eacac46227de3,29628834,NY,US,Entire home/apt,9,1.0,3.0,7.0,Real Bed,30,10.0
15961,61da5b6acd7eacac46227de7,29630759,NY,US,Private room,1,1.0,1.0,1.0,Real Bed,11,10.0
15962,61da5b6acd7eacac46227deb,29686576,NY,US,Private room,2,1.0,1.0,1.0,Real Bed,15,10.0

In [15]:
data4 = db.pricing_policy.find()

dfm4 = pd.DataFrame.from_records(data4)
dfm4

,_id,id,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_365,instant_bookable,is_business_travel_ready,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month
0,61da52dacd7eacac46218484,2515,0.59,0.0,0.60,2,0.39,2,21,287,0,0,0,0,1.42
1,61da52dbcd7eacac46218488,2539,1.49,1.0,0.25,1,0.25,1,730,365,0,0,0,0,0.25
2,61da52dbcd7eacac4621848c,2595,2.25,3.5,1.00,2,0.00,1,1125,346,0,0,1,1,0.35
3,61da52dbcd7eacac46218490,15729,0.89,3.0,0.60,1,0.45,1,730,307,0,0,0,0,0.21
4,61da52dbcd7eacac46218494,3330,0.70,1.5,1.25,2,0.50,5,730,186,0,0,0,0,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15958,61da5b6acd7eacac46227ddc,29610605,0.50,2.5,1.55,2,0.25,30,1125,94,0,0,0,0,1.00
15959,61da5b6acd7eacac46227de0,29563829,0.90,0.0,0.10,1,0.00,2,1125,14,0,0,1,1,1.00
15960,61da5b6acd7eacac46227de4,29628834,3.99,5.0,1.00,5,0.50,1,1125,342,1,0,0,0,1.00
15961,61da5b6acd7eacac46227de8,29630759,0.45,1.0,0.05,1,0.25,1,1125,12,1,0,0,0,1.00
15962,61da5b6acd7eacac46227dec,29686576,1.50,0.0,0.70,1,0.00,3,1125,173,0,0,0,0,2.00

In [5]:
# Join "abnb_host_dtls" & "abnb_reviews"
joined_data = db['host_dtls'].aggregate([
    {
        '$lookup': {
            'from': 'reviews',
            'localField': 'id',
            'foreignField': 'id',
            'as': 'host_dtls_reviews'            
        }
    }
])

In [6]:
# Insert data into the new collection...
# db.host_details_reviews.insert_many(joined_data)

# Display the joined data...
data5 = db.host_details_reviews.find()
df5 = pd.DataFrame.from_records(data5)
df5.head()

,_id,id,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,host_dtls_reviews
0,61da52dacd7eacac46218481,2515,0.88,1,1,Harlem,Manhattan,"[{'_id': 61da52dacd7eacac46218482, 'id': 2515,..."
1,61da52dacd7eacac46218485,2539,1.00,1,1,Kensington,Brooklyn,"[{'_id': 61da52dacd7eacac46218486, 'id': 2539,..."
2,61da52dbcd7eacac46218489,2595,0.85,0,1,Midtown,Manhattan,"[{'_id': 61da52dbcd7eacac4621848a, 'id': 2595,..."
3,61da52dbcd7eacac4621848d,15729,0.70,0,1,Red Hook,Brooklyn,"[{'_id': 61da52dbcd7eacac4621848e, 'id': 15729..."
4,61da52dbcd7eacac46218491,3330,1.00,0,1,Williamsburg,Brooklyn,"[{'_id': 61da52dbcd7eacac46218492, 'id': 3330,..."

In [7]:
df5['host_dtls_reviews'][0]

[{'_id': ObjectId('61da52dacd7eacac46218482'),
  'id': 2515,
  'number_of_reviews': 174,
  'review_scores_rating': 93.0,
  'review_scores_accuracy': 9.0,
  'review_scores_cleanliness': 9.0,
  'review_scores_checkin': 10.0,
  'review_scores_communication': 9.0,
  'review_scores_location': 9.0,
  'review_scores_value': 9.0}]